@import url(https://font.elice.io/EliceDigitalBaeum.css);
html {
  font-family: "Elice Digital Baeum", NaumGothicRound, sans-serif;
}

.container {
  text-align: center;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 6fr 1fr;
}
.container #item {
  margin: auto;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: cornflowerblue;
  border: 40px solid rgba(27, 113, 36, 0.336);
  box-shadow: 0 0 0 10px #00ff77, 0 0 0 20px #00ff777a, 0 0 0 30px #00ff775f,
    0 0 0 50px #00ff7746, 0 0 0 60px #00ff7729, 0 0 20px 70px #00ff7729;
}

.container #item h1 {
  position: relative;
  bottom: 3%;
  transform: translate(-97px);
  color: #00ff77;
  font-size: 100px;
  letter-spacing: 5px;
  text-shadow: 5px 5px rgba(175, 147, 246, 0.564), 4px 4px black;
  font-weight: border;
}

.container .menu {
  grid-column: 2/3;
  grid-row: 3/3;
  display: grid;
  margin-left: 170px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.container .menu > p {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aquamarine;
}
