@import url(https://font.elice.io/EliceDigitalBaeum.css);
html {
  font-family: "Elice Digital Baeum", NaumGothicRound, sans-serif;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
body {
  padding-top: 70px;
}

.menu_container {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  padding: 0 20px 0 20px;
  border: solid 1px rgb(57, 168, 47);
  background-color: rgba(49, 223, 93, 0.737);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.menu_container #menu_item {
  text-align: center;
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px black solid;
  background-color: rgba(218, 160, 217, 0.407);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  list-style: none;
  color: rgb(68, 66, 69);
}

.menu_container #menu_item:hover {
  background-color: rgba(175, 72, 153, 0.442);
}

.article-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px 10px 20px 10px;
}

.article-container #article {
  grid-column: 2/3;

  width: 500px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(119, 194, 197, 0.596);
  padding: 10px 10px 10px 10px;
  border: 1px dotted blue;
  background-color: rgba(231, 231, 255, 0.244);
}

.article-container #article {
  text-align: center;
}
